* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    /* background-color: black; */
    color: white;
    /* font-weight: bolder; */
}

body{
    width:120rem;
    /* width: 100%; */
    /* overflow-x:hidden; */
}
/* header section */

.navleft {
    display: flex;
    padding-left: 11.25rem;
}

.navleft img {
    height: 134px;
    width: 14.625rem;
}

.navleft h1 {
    position: relative;
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    top: 32%;
    right: 4%;

}
.navleft h1 a{
    color: white;
text-decoration: none;

}
.navleft h1 a span {
    font-size: 3rem;
    font-weight: 700;
    color: #6d95fc;
}

.navright {
    font-size: 1.313rem;
}

.navright ul {
    padding: 3.75rem;

}

.navright ul li {
    padding-left: 3.125rem;
}

/* hero section */

.hero-main {
    /* width: 1920px; */
    height: 60.563rem;
    background-image: url('../src/hero.png');
    background-color: black;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* left ke accoding rem padding-left:16.938rem; */
    padding-left: 17.563rem;

}

.hero-content {
    width: 55rem;
    /*vw */
    /* min-height: 613px; */
    font-size: 1.438rem;
    /*em*/
    padding-top: 11.563rem;
}

.hero-content p {
    font-size: 1.313rem;
    font-weight: 300;
    letter-spacing: 0.14rem;
    line-height: 3rem;
}

.hero-content h1 {
    width: 55rem;
    font-size: 5rem;
    font-weight: 700;
}

.line {
    height: 0.19rem;
    width: 9rem;
    border: 3px solid #6D95FC;
    margin: 30px 0px;
}

.hero-contain {
    width: 43.563rem;
    /* width: 697px; */
    /* min-height: 300px; */
    font-weight: 300;

}

.hero-contain button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    margin-top: 2.688rem;
}

.hero-contain button a {
    color: white;
    text-decoration: none;
}




/* about us section */

.carousel-left .carousel-item img{
    height: 49.625rem;
    width: 57.25rem;

}

.cicon {
    position: relative;
    top: 45%;
    padding: 10px;
    background-color: #6D95FC;
    border-radius: 50%;
}

.aboutus {
    /* width: 708px; */
    /* left: 70px; */
    /* gap: 26px; */
    padding: 10px;

}

.aboutus h1 {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 700;
    text-align: left;
    margin: 20px 0px;

}

.aboutus .line2 {
    width: 6.094rem;
    border: 2px solid #fff;
    margin: 30px 0px;
}

.about-para {
    width: 44.25rem;
    font-family: Poppins;
    font-size: 1.313rem;
    font-weight: 300;
    text-align: left;
    letter-spacing: 0.14rem;
    line-height: 3rem;
    margin: 2.688 0px;


}

.cbutton {
    /* height:10px; */
    color: #6D95FC;
    opacity: 1;
}

.aboutus button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 1.313rem;
    background: transparent;
    border: 3px solid #6D95FC;
    margin-top: 2.688rem;
}

.aboutus button a {
    color: white;
    text-decoration: none;
}


.carousel-indicators {
    background: linear-gradient(331deg, black, transparent);
}

.carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: relative;
    top: 30%;
}

.carousel-indicators .active {
    background-color: #6D95FC;
}

.slidea {
    position: relative;
    bottom: 0px;
    width: 5%;
    /* border-radius: 50%; */
}

/* about section end  */












/* footer section start  */


/* get in touch */
.footerback {
    /* min-height: 1400px; */
    background-color: black;
    background-image: url('../src/footer.png');
    background-repeat: no-repeat;
    background-position: bottom;
    /* background-size: auto; */
    /* background-size: 100% 100%; */
}

.row .left {
    padding-top: 8.375rem;
}

.row .right {
    background: linear-gradient(223.47deg, rgba(109, 149, 252, 0.24) 3.19%, rgba(21, 21, 21, 0) 61.55%);
    padding-top: 8.375rem;
    /* margin-right: -10px; */
}

.get-in-touch {
    width: 37.25rem;
    /* height: ; */
    /* margin-top: 134px; */
    margin-left: 17.75rem;

}

.get-in-touch h1 {
    font-family: 'Poppins';
    font-size: 3rem;
    font-weight: 700;
    line-height: 4.563rem;
    text-align: left;
}

.footerl {
    width: 97.5px;
    border: 1px solid white;
    margin-top: 15px;
}

.get-in-touch p {
    width: 36.813rem;
    height: 124.96105194091797px;
    /* width: 44.25rem; */
    font-family: Poppins;
    font-size: 1.313rem;
    font-weight: 300;
    text-align: left;
    line-height: 3rem;
    letter-spacing: 0.14rem;
    margin: 1.688rem 0px;
}

.address {
    width: 100%;
    display: flex;
    margin: 12px auto;
}

.address .col-sm-1 {
    width: 60px;
}

.address .col-sm-1 i {
    color: #6d95fc;
}

.address .col-sm-9 .heading {
    font-family: 'Poppins';
    font-size: 1.313rem;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.04em;
    text-align: left;
}

.address .col-sm-9 .adds {
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-align: left;
    color: #6d95fc;

}

.contact {
    height: 575px;
    width: 33.688rem;
    background: linear-gradient(179.96deg, #12192B 0.03%, rgba(18, 25, 43, 0) 109.04%);
    margin-left: 10.375rem;
    padding: 10px, 25px, 10px, 25px;
    /* margin-right: 225px; */
    border-radius: 30px;
}

.contact form {
    padding: 47px 56px 0px 56px;
}

form .col-sm-10 input {
    height: 47px;
    width: 26.625rem;
    border: 2px solid white;
    background-color: transparent;
}

form .col-sm-10 textarea {
    height: 168px;
    width: 26.625rem;
    background-color: transparent;
    border: 2px solid white;

}

.form-label {
    font-size: 17px;
}

form .col-sm-6 button {
    width: 188px;
    height: 43.65px;
    border-radius: 2px;
    border: 3px;
    color: black;
    padding: 10px, 25px, 10px, 25px;
    background-color: #6d95fc;
}



.footer-bottom h1 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
}

.footer-bottom .complexity {
    font-size: 0.875rem;
}

.footer-bottom .line2 {
    width: 100px;
    border: 1px solid white;
    margin: auto;
}

.footer-bottom .footer-para {
    font-size: 1.313rem;
    font-weight: 300;
    margin: auto;
}

.footerlist li {
    font-size: 1.313rem;
    font-weight: 500;
    color: #6d95fc;
    padding: 32px 0px 0px 20px;
}

.footerlist li a i {
    /* margin-top: 93px; */
    color: #6d95fc;
}

.footer-content {
    font-family: 'Poppins';
    color: #fff;
    font-size: 0.875rem;
    padding-top: 10rem;
    padding-left: 3.125rem;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
}