* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    /* max-width: 1920px; */
    min-width: 500px;
    width: 100%;
    color: white;
}

p {
    font-family: "Poppins";
    font-size: 1.313rem;
    font-style: normal;
    font-weight: 300;

}

a {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    margin-top: 2.9rem;

}


h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

html {
    scroll-behavior: smooth;
}

body {
    background: #f2f2f2;
}

header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 112px;
    display: flex;
    justify-content: center;
    background: #000;
}

.navbar {
    display: flex;
    padding: 0 10px;
    /* max-width: 1920px; */
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

.logo a img {
    height: 130px;
    width: 100%;
}

.navbar input#menu-toggler {
    display: none;
}

.navbar #hamburger-btn {
    cursor: pointer;
    display: none;
}

.navbar .all-links {
    display: flex;
    align-items: center;
}

.navbar .all-links li {
    position: relative;
    list-style: none;
}

.navbar .logo a {
    display: flex;
    align-items: center;
    margin-left: 0;
}

header a,
footer a {
    margin-left: 40px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
}

header a:hover,
footer a:hover {
    color: #ddd;
}





/* navmedea */




/* hero content  */

.hero-main {
    /* height: ; */
    max-width: 1920px;
    width: 100%;
    background-color: #000;
    background-image: url('../src/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    /* padding: 25px; */
    display: flex;
    /* justify-content: ; */
}

.hero-center {

    display: flex;
    height: 51.2rem;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    /* border: 1px solid saddlebrown; */

}

.hero-contain {
    width: 80%;
    justify-content: center;
    align-items: center;
}

.hero-contain .hero-head {
    color: #6D95FC;
    text-align: center;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19031rem;
    text-transform: uppercase;
}

.hero-contain .hero-header {
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 111.49%;
    /* 5.5745rem */
    letter-spacing: 0.075rem;
    padding-top: 2.9rem;
    text-transform: uppercase;

}

.hero-center .line {
    width: 9rem;
    height: 0.1875rem;
    background-color: #6D95FC;
    margin-top: 2.9rem;
    /* line-height: 2rem; */


}

.hero-para {
    width: 60%;
    padding-top: 2.9rem;

}

.hero-contain button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    margin-top: 2.9rem;

}


.hero-contain button a {
    color: white;
    text-decoration: none;
}

@media (max-width:1600px) {


    .hero-main {
        /* height: ; */
        /* max-width: 1920px; */
        width: 100%;
        background-color: #000;
        background-image: url('../src/hero.png');
        background-size: contain;
        background-repeat: no-repeat;
        color: #FFF;
        padding: 0px;
        display: flex;
        /* justify-content: ; */
    }

    .hero-center {
        display: flex;
        width: 100%;
        height: 50.2rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: auto;

        /* border: 1px solid saddlebrown; */

    }

    .hero-contain {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 1.3125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: auto;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 8rem;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 2.5rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 50%;
        padding-top: auto;

    }
}

@media (max-width:1200px) {


    .hero-main {
        /* height: ; */
        max-width: 1200px;
        width: 100%;
        background-color: #000;
        background-image: url('../src/hero.png');
        background-size: contain;
        background-repeat: no-repeat;
        color: #FFF;
        padding: 0px;
        display: flex;
        /* justify-content: ; */
    }

    .hero-center {
        display: flex;
        width: 100%;
        height: 45rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: 2rem;
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain {
        width: 85%;
        justify-content: center;
        align-items: center;
    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 2rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 7rem;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 2rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        font-size: 1rem;
        width: 60%;
        padding-top: 2rem;

    }

    .hero-contain button a {
        font-size: 1rem;
    }
}

@media (max-width:1024px) {
    .hero-main {
        max-width: 1100px;
        width: 100%;
        background-color: #000;
        background-image: url('../src/hero.png');
        background-size: 100%;

    }

    .hero-center {
        display: flex;
        width: 100%;
        height: 30.2rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: auto;
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 1rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 10%;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 1rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 50%;
        font-size: 0.75rem;
        padding-top: 1rem;

    }

    .hero-contain button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 0.75rem;
        background: transparent;
        border: 3px solid #6D95FC;
        margin-top: 1rem;

    }


    .hero-contain button a {
        color: white;
        font-size: 0.75rem;

        text-decoration: none;
    }

}

@media (max-width:767px) {
    .hero-center {
        display: flex;
        width: 100%;
        height: 25.2rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: auto;
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 1rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 10%;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 1rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 50%;
        font-size: 0.75rem;
        padding-top: 1rem;

    }

}

@media (max-width:576px) {
    .hero-center {
        display: flex;
        width: 100%;
        height: 17.2rem;
        justify-content: center;
        align-items: center;

        /* margin: auto; */
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 0.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 1.3rem !important;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 1rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 10%;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 1rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 60%;
        font-size: 0.5rem;
        padding-top: 1rem;

    }

    .hero-contain button {
        padding: 0px 10px;
        border-radius: 2px;
        background: transparent;
        border: 3px solid #6D95FC;
        margin-top: 0.5rem;

    }

    button a {
        font-size: 8px;

    }


}







/* about section  */
.about {
    /* min-height: 600px; */
    display: flex !important;
}

.about .aboutsection {
    width: 50%;
    display: flex;
    /* height: 100vh; */
}


.carousel-inner .carousel-item img {
    height: 49.625rem;
    /* height: 101.79vh; */
    width: 57.25rem;
    /* width: 47.708vw; */

}


.carousel-indicators {
    background: linear-gradient(331deg, black, transparent);
}

.carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    /* background: transparent !important; */
}

.aboutus {
    display: flex;
    width: 100% !important;
    /* border: 1px solid burlywood; */
    /* align-items: center; */
    min-height: 50.3125rem;
    height: 100%;
}

.aboutus-center {
    /* height: 670px; */
    height: auto;
    justify-content: left;
    /* padding: 25px; */
    display: inline-flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* margin:0px  auto; */
    /* border: 1px solid white; */

}

.aboutus-contain {
    position: relative;
    top: 5%;
    width: 80%;
    /* max-width: 44.25rem; */
    margin: auto;
    /* display: flex; */
    text-align: start;
    /* margin-bottom: 30px; */
    /* border: 1px solid firebrick; */

}


.aboutus-contain .abouth {
    color: #6D95FC;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19031rem;
    text-transform: uppercase;
    margin-bottom: 1.62rem;
}

.aboutus-contain h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%;
    /* 3.735rem */
    text-transform: capitalize;

}

.aboutus-contain .line2 {
    width: 6.09375rem;
    /* color: #6D95FC; */
    margin: 1.62rem 0px;
    border: 1px solid white;

}

.aboutus-contain .aboutmiddle {
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00531rem;
    text-transform: capitalize;
}

.aboutus-contain .about-para {
    width: 90%;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%;
    /* 2.18531rem */
    letter-spacing: 0.0525rem;
    margin: 1.62rem 0px;
}

.aboutus-contain button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    /* margin-top: 2.9rem; */

}

.aboutus-contain button a {
    color: white;
    text-decoration: none;
}

@media (max-width:1600px) {

    .slidemain {
        height: 100px !important;
    }

    .carousel-indicators {
        position: absolute;
        top: 60%;
        height: 10px;
    }

    .carousel-inner .carousel-item img {
        height: 35.625rem;
        /* height: 101.79vh; */
        width: auto;
        /* width: 47.708vw; */

    }

    .aboutus-contain {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .aboutus-contain .abouth {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .aboutus-contain h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .aboutus-contain .line2 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .aboutus-contain .aboutmiddle {
        font-size: 0.89rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.00531rem;
        text-transform: capitalize;
    }

    .aboutus-contain .about-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

    .aboutus-contain button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        /* margin-top: 2.9rem; */

    }

    .aboutus-contain button a {
        color: white;
        text-decoration: none;
    }





}

@media (max-width:1200px) {
    .about {
        min-height: 620px;
        display: flex !important;
        height: 710px;
    }

    .carousel-indicators {
        position: absolute;
        top: 45%;
        height: 10px;
    }

    .carousel-inner .carousel-item img {
        height: 25.625rem;
        /* height: 101.79vh; */
        width: auto;
        /* width: 47.708vw; */

    }

    .aboutus-contain {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .aboutus-contain .abouth {
        color: #6D95FC;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .aboutus-contain h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .aboutus-contain .line2 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .aboutus-contain .aboutmiddle {
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.00531rem;
        text-transform: capitalize;
    }

    .aboutus-contain .about-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

    .aboutus-contain button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        /* margin-top: 2.9rem; */

    }

    .aboutus-contain button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:767px) {
    .about {
        display: block;
        height: auto;
        width: 100%;
    }

    .carousel-indicators {
        position: absolute;
        top: 90%;
        height: 10px;
    }

    .carousel-inner .carousel-item img {
        width: 916px;

    }

    .about .aboutsection {
        width: 100%;
        display: flex;
    }


    .aboutus-contain {
        position: relative;
        top: 5%;
        width: 95%;
        /* max-width: 44.25rem; */
        margin: auto;
        /* display: flex; */
        text-align: start;
        /* border: 1px solid firebrick; */

    }


    .aboutus-contain .abouth {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .aboutus-contain h2 {
        font-size: 3rem;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .aboutus-contain .aboutmiddle {
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.00531rem;
        text-transform: capitalize;
    }

    .aboutus-contain .about-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }


}


/* out-service */

.service-main {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    /* height: 60rem; */
}





.service-center {

    /* width: 36.8125rem; */
    height: 30.8125rem;
    position: relative;
    top: 30%;
    width: 80%;
    left: 20%;
    /* border: 1px solid saddlebrown; */
    ;
}

.service-slide {
    width: 50%;
}

.swiper {
    width: 70%;
    /* height: 49.625rem; */
    flex-shrink: 0;
}

.swiper-slide {
    /* width: 60rem; */
    width: 100%;
    padding: 10%;
}

.swiper-slide img {
    height: auto;
    /* height: 35.5rem; */
    /* width: 37rem; */
    width: 90%;
    margin: 8rem 2rem;
}

.swiper_button_next {
    position: relative;
    left: 10%;
    border-radius: 50%;
    background-color: #6d95fc;
    width: 100%;

    height: 1rem;
    margin-top: 9rem;
}

.swiper_button_prev {
    position: absolute;
    border-radius: 50%;
    background-color: #6d95fc;
    width: 100%;
    margin-top: 9rem;
}

.swiper-button-prev:after {
    font-size: 30px !important;
    color: white;
    /* background-color: #6D95FC; */
    /* border-radius: 50%; */
}

.swiper-button-next:after {
    font-size: 30px !important;
    color: white;
    /* background-color: #6D95FC; */
    /* border-radius: 50%; */
}






.service-text {
    align-items: flex-end;
}

.service-text .head {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19031rem;
    text-transform: uppercase;
}

.service-text h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%;
    /* 3.735rem */
    text-transform: capitalize;
    margin: 2rem 0px;
}

.service-text .line3 {
    width: 6.09375rem;
    height: 0rem;
    flex-shrink: 0;
    border: 1px solid white;
}

.service-text .service-para {
    width: 36.8125rem;
    height: 8.25rem;
    flex-shrink: 0;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%;
    /* 2.18531rem */
    margin: 2rem 0px;
    letter-spacing: 0.0525rem;
}

.service-text button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    background: transparent;
    border: 3px solid #6D95FC;
    /* margin-top: 2.9rem; */

}

.service-text button a {
    color: white;
    font-size: 16px;
}



@media (max-width:1600px) {
    .service-main {
        /* height: 40rem; */
    }

    .service-text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .service-text .head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .service-text h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .service-text .line3 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .service-text .service-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .service-text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;

        /* margin-top: 2.9rem; */

    }

    .service-text button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:1200px) {
    .service-main {
        height: 40rem;
    }

    .service-text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .service-text .head {
        color: #6D95FC;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .service-text h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .service-text .line3 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .service-text .service-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .service-text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        /* margin-top: 2.9rem; */

    }

    .service-text button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:767px) {


    .service-main {
        display: block;
        height: auto;
    }

    .service-contain {
        /* width: 90%;  */
        height: auto;

        /* border: 1px solid wheat; */
    }

    .service-center {

        /* width: 36.8125rem; */
        height: 30.8125rem;
        position: relative;
        top: 30%;
        width: 100%;
        left: 0;
        /* border: 1px solid saddlebrown; */
        ;
    }


    .service-main .service-contain {
        width: 100%;
        display: flex;
    }

    .service-text {
        position: relative;
        top: 5%;
        width: 95%;
        /* max-width: 44.25rem; */
        margin: auto;
        /* display: flex; */
        text-align: start;
        /* border: 1px solid firebrick; */

    }


    .service-text .head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .service-text h2 {
        font-size: 3rem;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }


    .service-text .service-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

    .service-slide {
        padding-top: 7%;
        width: 100%;
    }

    .swiper {
        height: auto;
        width: 100%;
    }

    .swiper-slide {
        height: 60%;
        /* border: 1px solid darkblue; */
        width: 100%;
        padding: 3rem;

    }

    .swiper-slide img {
        height: 30.5rem;
        /* width: 25rem; */
        width: 100%;
        /* padding:auto 10px; */
        margin: 1rem;
    }

}

/* insights section */

.insight_section {

    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;

}

.insight-images img {
    width: 800px;
    height: 800px;
}

.insight_contain {

    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto
}

.insight-center {
    width: 90%;
}

.insight_text {
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;


}

.insight_text .insight-head {
    color: #6D95FC;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.045px;
    text-transform: uppercase;
}

.insight_text h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.49%;
    /* 53.515px */
    letter-spacing: 0.72px;
    text-transform: uppercase;
    margin: 2.69rem 0px;
}

.insight_text .line4 {
    width: 9rem;
    border: 1px solid #6d95fc;
    margin: 2.9rem 0px;
}

.insight_text .insight-para {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.insight_text button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    margin: 2.9rem 0px;

}

.insight_text button a {
    color: white;
    text-decoration: none;
}

@media (max-width:1600px) {

    
    
    .insight_text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .insight_text .insight-head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .insight_text h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        /* text-transform: capitalize; */
    }

    .insight_text .line3 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .insight_text .insight-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .insight_text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;

        /* margin-top: 2.9rem; */

    }

    .insight_text button a {
        color: white;
        font-size: 16px;
        text-decoration: none;
    }


}

@media (max-width:1200px) {
    .insight-images img{
        width: 600px;
    }

    .insight_text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .insight_text .insight-head {
        color: #6D95FC;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .insight_text h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
    }

    .insight_text .line4 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .insight_text .insight-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .insight_text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        /* margin-top: 2.9rem; */

    }

    .insight_text button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:767px) {

    .insight-images img{
        width: 100%;
        padding: 20px;
    }
    .insight_section {
        display: block;
        height: auto;
    }  

    .insight_contain .insight_text{
        width: 100%;
    }


    .insight_text .insight-head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .insight_text h2 {
        font-size: 3rem;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */ 
    }


    .insight_text .insight-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

}