* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

body {
    /* max-width: 1920px; */
    min-width: 500px;
    width: 100%;
    background-color: #000;
    color: white;
}

p {
    font-family: "Poppins";
    font-size: 1.313rem;
    font-style: normal;
    font-weight: 300;

}

a {
    color: #FFF;
    text-align: center;
    font-family: 'Poppins';
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    margin-top: 2.9rem;

}


h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    /* text-transform: uppercase; */
}


html {
    scroll-behavior: smooth;
}

body {
    background: black;
}



nav {
    background: black;
    height: 112px;
    width: 100%;
    margin: auto;
}

label.logo {
    position: relative;
    left: 7%;
    top:10px;

}

label.logo img {
    height: 110px;
    width: 100%;
}

nav ul {
    float: right;
    /* margin-right: 90px; */
    margin: 50px 90px 0px 0px;
}

nav ul li {
    display: inline-block;
    line-height: px;
    margin: 0 5px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    padding: 7px 13px;
    text-transform: uppercase;
    color: #FFF;
    text-align: center;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    margin-top: 32px;
    display: none;
}

#check {
    display: none;
}

/* @media (max-width:1635px) {
    label.logo img {
        height: 102px;
        width: 100%;
    }



} */
@media (max-width:1635px) {
    nav ul li a {
        font-size: 16px;
    }

    nav ul {
        float: right;
        /* margin-right: 90px; */
        margin: 50px 10px 0px 0px;
    }
    label.logo img {
        position: relative;
        top: 20px;
        height: 90px;
        width: 100%;
    }


}

@media (max-width: 1200px) {
    label.logo img {
        height: 71px;
        width: 95%;
    }
    nav ul li a {
        font-size: 16px;
        padding: 7px 7px;
    }
}


@media (max-width: 1024px) {
    
    label.logo img {
        height: 90px;
        width: 100%;
    }

    .checkbtn {
        display: block;
    }

    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a:hover,
    a.active {
        background: none;
        color: #0082e6;
    }

    #check:checked~ul {
        left: 0;
    }
}








/* navmedea */




/* hero content  */

.hero-main {
    /* height: ; */
    /* max-width: 1920px; */
    width: 100%;
    background-color: #000;
    background-image: url('../src/hero.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: #FFF;
    /* padding: 25px; */
    display: flex;
    /* justify-content: ; */
}

.hero-center {

    display: flex;
    height: 51.2rem;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
    /* border: 1px solid saddlebrown; */

}

.hero-contain {
    width: 80%;
    justify-content: center;
    align-items: center;
}

.hero-contain .hero-head {
    color: #6D95FC;
    text-align: center;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19031rem;
    text-transform: uppercase;
}

.hero-contain .hero-header {
    font-size: 5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 111.49%;
    /* 5.5745rem */
    letter-spacing: 0.075rem;
    padding-top: 2.9rem;
    text-transform: uppercase;

}

.hero-center .line {
    width: 9rem;
    height: 0.1875rem;
    background-color: #6D95FC;
    margin-top: 2.9rem;
    /* line-height: 2rem; */


}

.hero-para {
    width: 60%;
    padding-top: 2.9rem;

}

.hero-contain button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    margin-top: 2.9rem;

}


.hero-contain button a {
    color: white;
    text-decoration: none;
}

@media (max-width:1635px) {


    .hero-main {
        /* height: ; */
        /* max-width: 1920px; */
        width: 100%;
        background-color: #000;
        background-image: url('../src/hero.png');
        background-size: contain;
        background-repeat: no-repeat;
        color: #FFF;
        padding: 0px;
        display: flex;
        /* justify-content: ; */
    }

    .hero-center {
        display: flex;
        width: 100%;
        height: 50.2rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: auto;

        /* border: 1px solid saddlebrown; */

    }

    .hero-contain {
        width: 80%;
        justify-content: center;
        align-items: center;
    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 1.3125rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: auto;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 8rem;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 2.5rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 50%;
        padding-top: auto;

    }
}

@media (max-width:1200px) {


    .hero-main {
        /* height: ; */
        max-width: 1200px;
        width: 100%;
        background-color: #000;
        background-image: url('../src/hero.png');
        background-size: contain;
        background-repeat: no-repeat;
        color: #FFF;
        padding: 0px;
        display: flex;
        /* justify-content: ; */
    }

    .hero-center {
        display: flex;
        width: 100%;
        height: 45rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: 2rem;
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain {
        width: 85%;
        justify-content: center;
        align-items: center;
    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 2rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 7rem;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 2rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        font-size: 1rem;
        width: 60%;
        padding-top: 2rem;

    }

    .hero-contain button a {
        font-size: 1rem;
    }
}

@media (max-width:1024px) {
    .hero-main {
        max-width: 1100px;
        width: 100%;
        background-color: #000;
        background-image: url('../src/hero.png');
        background-size: 100%;

    }

    .hero-center {
        display: flex;
        width: 100%;
        height: 30.2rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: auto;
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 2.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 1rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 10%;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 1rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 50%;
        font-size: 0.75rem;
        padding-top: 1rem;

    }

    .hero-contain button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 0.75rem;
        background: transparent;
        border: 3px solid #6D95FC;
        margin-top: 1rem;

    }


    .hero-contain button a {
        color: white;
        font-size: 0.75rem;

        text-decoration: none;
    }

}

@media (max-width:767px) {
    .hero-center {
        display: flex;
        width: 100%;
        height: 25.2rem;
        justify-content: center;
        align-items: center;
        /* margin: auto; */
        padding: auto;
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 1rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 10%;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 1rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 50%;
        font-size: 0.75rem;
        padding-top: 1rem;

    }

}

@media (max-width:576px) {
    .hero-center {
        display: flex;
        width: 100%;
        height: 17.2rem;
        justify-content: center;
        align-items: center;

        /* margin: auto; */
        /* border: 1px solid saddlebrown; */

    }

    .hero-contain .hero-head {
        color: #6D95FC;
        text-align: center;
        font-size: 0.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .hero-contain .hero-header {
        font-size: 1.3rem !important;
        font-style: normal;
        font-weight: 700;
        line-height: 111.49%;
        /* 5.5745rem */
        letter-spacing: 0.075rem;
        padding-top: 1rem;
        text-transform: uppercase;

    }

    .hero-center .line {
        width: 10%;
        height: 0.1875rem;
        background-color: #6D95FC;
        margin-top: 1rem;
        /* line-height: 2rem; */


    }

    .hero-para {
        width: 60%;
        font-size: 0.5rem;
        padding-top: 1rem;

    }

    .hero-contain button {
        padding: 0px 10px;
        border-radius: 2px;
        background: transparent;
        border: 3px solid #6D95FC;
        margin-top: 0.5rem;

    }

    button a {
        font-size: 8px;

    }


}







/* about section  */
.about {
    /* min-height: 600px; */
    display: flex !important;
}

.about .aboutsection {
    width: 50%;
    display: flex;
    /* height: 100vh; */
}


.carousel-inner .carousel-item img {
    height: 49.625rem;
    /* height: 101.79vh; */
    width: 57.25rem;
    /* width: 47.708vw; */

}

.cicon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #6D95FC;
    color: white;
    position: relative;
    top: 45%;
}






.carousel-indicators {
    background: linear-gradient(331deg, black, transparent);
}

.carousel-indicators [data-bs-target] {
    width: 15px !important;
    height: 15px !important;
    border-radius: 50%;
    /* background: transparent !important; */
}

.aboutus {
    display: flex;
    width: 100% !important;
    /* border: 1px solid burlywood; */
    /* align-items: center; */
    min-height: 50.3125rem;
    height: 100%;
}

.aboutus-center {
    /* height: 670px; */
    height: auto;
    justify-content: left;
    /* padding: 25px; */
    display: inline-flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* margin:0px  auto; */
    /* border: 1px solid white; */

}

.aboutus-contain {
    position: relative;
    top: 5%;
    width: 80%;
    /* max-width: 44.25rem; */
    margin: auto;
    /* display: flex; */
    text-align: start;
    /* margin-bottom: 30px; */
    /* border: 1px solid firebrick; */

}


.aboutus-contain .abouth {
    color: #6D95FC;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19031rem;
    text-transform: uppercase;
    margin-bottom: 1.62rem;
}

.aboutus-contain h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%;
    /* 3.735rem */
    text-transform: capitalize;

}

.aboutus-contain .line2 {
    width: 6.09375rem;
    /* color: #6D95FC; */
    margin: 1.62rem 0px;
    border: 1px solid white;

}

.aboutus-contain .aboutmiddle {
    font-size: 1.0625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.00531rem;
    text-transform: capitalize;
}

.aboutus-contain .about-para {
    width: 90%;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%;
    /* 2.18531rem */
    letter-spacing: 0.0525rem;
    margin: 1.62rem 0px;
}

.aboutus-contain button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    /* margin-top: 2.9rem; */

}

.aboutus-contain button a {
    color: white;
    text-decoration: none;
}

@media (max-width:1635px) {

    .slidemain {
        height: 100px !important;
    }
    .cicon{
        color: white;
        position: relative;
        top: 12%;
    }
    

    .carousel-indicators {
        position: absolute;
        top: 60%;
        height: 10px;
    }

    .carousel-inner .carousel-item img {
        height: 35.625rem;
        /* height: 101.79vh; */
        width: auto;
        /* width: 47.708vw; */

    }

    .aboutus-contain {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .aboutus-contain .abouth {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .aboutus-contain h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .aboutus-contain .line2 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .aboutus-contain .aboutmiddle {
        font-size: 0.89rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.00531rem;
        text-transform: capitalize;
    }

    .aboutus-contain .about-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

    .aboutus-contain button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        /* margin-top: 2.9rem; */

    }

    .aboutus-contain button a {
        color: white;
        text-decoration: none;
    }





}

@media (max-width:1200px) {
    .about {
        min-height: 620px;
        display: flex !important;
        height: 710px;
    }

    .carousel-indicators {
        position: absolute;
        top: 45%;
        height: 10px;
    }
    .cicon{
        color: white;
        position: relative;
        top: -4%;
    }

    .carousel-inner .carousel-item img {
        height: 25.625rem;
        /* height: 101.79vh; */
        width: auto;
        /* width: 47.708vw; */

    }

    .aboutus-contain {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .aboutus-contain .abouth {
        color: #6D95FC;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .aboutus-contain h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .aboutus-contain .line2 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .aboutus-contain .aboutmiddle {
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.00531rem;
        text-transform: capitalize;
    }

    .aboutus-contain .about-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

    .aboutus-contain button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        /* margin-top: 2.9rem; */

    }

    .aboutus-contain button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:767px) {
    .about {
        display: block;
        height: auto;
        width: 100%;
    }

    .carousel-indicators {
        position: absolute;
        top: 90%;
        height: 10px;
    }
    .cicon{
        color: white;
        position: relative;
        top: 40%;
    }

    .carousel-inner .carousel-item img {
        width: 916px;

    }

    .about .aboutsection {
        width: 100%;
        display: flex;
    }
    .about .aboutsection1{
        
        height: 700px;
    }


    .aboutus-contain {
        position: relative;
        top: 5%;
        width: 95%;
        /* max-width: 44.25rem; */
        margin: auto;
        /* display: flex; */
        text-align: start;
        /* border: 1px solid firebrick; */

    }


    .aboutus-contain .abouth {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .aboutus-contain h2 {
        font-size: 2.5rem;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .aboutus-contain .aboutmiddle {
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.00531rem;
        text-transform: capitalize;
    }

    .aboutus-contain .about-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }


}


/* out-service */

.service-main {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    /* height: 60rem; */
}





.service-center {

    /* width: 36.8125rem; */
    height: 30.8125rem;
    position: relative;
    top: 30%;
    width: 80%;
    left: 20%;
    /* border: 1px solid saddlebrown; */
    ;
}

.service-slide {
    width: 50%;
}

.ourservice {
    width: 70%;
    /* height: 49.625rem; */
    flex-shrink: 0;
}

.swiper-slide .swipe {
    /* width: 60rem; */
    width: 100%;
    padding: 10%;
}

.swiper-slide .slide_image {
    height: auto;
    /* height: 35.5rem; */
    /* width: 37rem; */
    width: 90%;
    margin: 8rem 2rem;
}

.swiper_button_next {
    position: relative;
    left: 10%;
    border-radius: 50%;
    background-color: #6d95fc;
    width: 100%;

    height: 1rem;
    margin-top: 9rem;
}

.swiper_button_prev {
    position: absolute;
    border-radius: 50%;
    background-color: #6d95fc;
    width: 100%;
    margin-top: 9rem;
}

.swiper-button-prev:after {
    font-size: 30px !important;
    color: white;
    /* background-color: #6D95FC; */
    /* border-radius: 50%; */
}

.swiper-button-next:after {
    font-size: 30px !important;
    color: white;
    /* background-color: #6D95FC; */
    /* border-radius: 50%; */
}






.service-text {
    align-items: flex-end;
}

.service-text .head {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.19031rem;
    text-transform: uppercase;
}

.service-text h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: 124.5%;
    /* 3.735rem */
    text-transform: capitalize;
    margin: 2rem 0px;
}

.service-text .line3 {
    width: 6.09375rem;
    height: 0rem;
    flex-shrink: 0;
    border: 1px solid white;
}

.service-text .service-para {
    width: 36.8125rem;
    height: 8.25rem;
    flex-shrink: 0;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%;
    /* 2.18531rem */
    margin: 2rem 0px;
    letter-spacing: 0.0525rem;
}

.service-text button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    background: transparent;
    border: 3px solid #6D95FC;
    /* margin-top: 2.9rem; */

}

.service-text button a {
    color: white;
    font-size: 16px;
}



@media (max-width:1635px) {
    .service-main {
        /* height: 40rem; */
    }

    .service-text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .service-text .head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .service-text h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .service-text .line3 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .service-text .service-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .service-text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;

        /* margin-top: 2.9rem; */

    }

    .service-text button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:1200px) {
    .service-main {
        height: 40rem;
    }

    .service-text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .service-text .head {
        color: #6D95FC;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .service-text h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }

    .service-text .line3 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .service-text .service-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .service-text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        /* margin-top: 2.9rem; */

    }

    .service-text button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:767px) {


    .service-main {
        display: block;
        height: auto;
    }

    .service-contain {
        /* width: 90%;  */
        height: auto;

        /* border: 1px solid wheat; */
    }

    .service-center {

        /* width: 36.8125rem; */
        height: 30.8125rem;
        position: relative;
        top: 30%;
        width: 100%;
        left: 0;
        /* border: 1px solid saddlebrown; */
        ;
    }


    .service-main .service-contain {
        width: 100%;
        display: flex;
    }

    .service-text {
        position: relative;
        top: 5%;
        width: 95%;
        /* max-width: 44.25rem; */
        margin: auto;
        /* display: flex; */
        text-align: start;
        /* border: 1px solid firebrick; */

    }


    .service-text .head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .service-text h2 {
        font-size: 2.5rem;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        text-transform: capitalize;
    }


    .service-text .service-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

    .service-slide {
        padding-top: 7%;
        width: 100%;
    }

    .ourservice {
        height: auto;
        width: 100%;
    }

    .swipe {
        height: 60%;
        /* border: 1px solid darkblue; */
        width: 100%;
        padding: 3rem;

    }

    .swiper-slide .slide_image {
        height: 30.5rem;
        /* width: 25rem; */
        width: 100%;
        /* padding:auto 10px; */
        margin: 1rem;
    }

}

/* insights section */

.insight_section {

    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;

}

.insight-images img {
    width: 800px;
    height: 800px;
}

.insight_contain {

    justify-content: center;
    align-items: center;
    display: flex;
    margin: auto
}

.insight-center {
    width: 90%;
}

.insight_text {
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;


}

.insight_text .insight-head {
    color: #6D95FC;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 3.045px;
    text-transform: uppercase;
}

.insight_text h2 {
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 111.49%;
    /* 53.515px */
    letter-spacing: 0.72px;
    text-transform: uppercase;
    margin: 2.69rem 0px;
}

.insight_text .line4 {
    width: 9rem;
    border: 1px solid #6d95fc;
    margin: 2.9rem 0px;
}

.insight_text .insight-para {
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.insight_text button {
    padding: 10px 25px 10px 25px;
    border-radius: 2px;
    font-size: 0.9130434782608695em;
    background: transparent;
    border: 3px solid #6D95FC;
    margin: 2.9rem 0px;

}

.insight_text button a {
    color: white;
    text-decoration: none;
}

@media (max-width:1635px) {



    .insight_text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .insight_text .insight-head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .insight_text h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        /* text-transform: capitalize; */
    }

    .insight_text .line3 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .insight_text .insight-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .insight_text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;

        /* margin-top: 2.9rem; */

    }

    .insight_text button a {
        color: white;
        font-size: 16px;
        text-decoration: none;
    }


}

@media (max-width:1200px) {
    .insight-images img {
        width: 500px;
    }

    .insight_text {
        position: relative;
        top: 5%;
        width: 90%;


    }

    .insight_text .insight-head {
        color: #6D95FC;
        font-size: 0.8rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;

    }

    .insight_text h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
    }

    .insight_text .line4 {
        width: 5.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid #6d95fc;

    }

    .insight_text .insight-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }

    .insight_text button {
        padding: 10px 25px 10px 25px;
        border-radius: 2px;
        font-size: 1rem;
        background: transparent;
        border: 3px solid #6D95FC;
        margin-top: 0px;

    }

    .insight_text button a {
        color: white;
        text-decoration: none;
    }


}

@media (max-width:767px) {

    .insight-images img {
        width: 100%;
        padding: 20px;
    }

    .insight_section {
        display: block;
        height: auto;
    }

    .insight_contain .insight_text {
        width: 100%;
    }


    .insight_text .insight-head {
        color: #6D95FC;
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.19031rem;
        text-transform: uppercase;
    }

    .insight_text h2 {
        font-size: 2.5rem;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
    }


    .insight_text .insight-para {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }

}


/* testimonals sections */

.testimonials-main {
    background-color: #000;

}

.testimonials-head {
    margin: auto 0px;
    width: 100%;


}

.testimonials-texts h2 {
    color: #FFF;
    text-align: center;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 109.5%;
    /* 60.225px */
    letter-spacing: 2.2px;
    text-transform: uppercase;
}

.testimonials-texts .cline {
    width: 13.625rem;
    height: 0.1875rem;
    background-color: #6D95FC;
    align-items: center;
    margin: auto;
}

.testimonials-texts h6 {
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.11156rem;
    text-transform: uppercase;
    margin: 20px auto;
}










.swiper {
    width: 100%;
    height: 100%;
    background-color: black;
}

.swiper-slide {
    text-align: center;
    /* font-size: 18px; */
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    /* width: 100%; */
    object-fit: cover;
}

.swiper-pagination {
    position: relative;
    top: 40px
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner-text {
    width: 90%;
    margin: 10px;
    padding: 30px;
    /* border: 1px solid firebrick; */
    /* border-radius: 38px; */
    border-radius: 30px;
    background: linear-gradient(179deg, rgba(17, 24, 42, 0.70) 0%, rgba(17, 24, 42, 0.00) 100%);
}

.inner-text .para {
    color: #FFF;
    text-align: justify;
    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%;
    /* 34.965px */
    letter-spacing: 0.84px;
}

.client {
    display: flex;
    margin: 20px 0px;

}

.clientimg {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.vector {
    height: 30px;
    /* width: 30px;  */
    position: relative;
    left: 10%;
}

.client-details {
    margin: 0px 30px;
}

.phead {
    color: #FFF;
    text-align: justify;
    font-family: Poppins;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 166.5%;
    /* 34.965px */
    letter-spacing: 0.84px;
}

.client-details .email {
    color: #6D95FC;
    text-align: justify;
    font-family: Poppins;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 166.5%;
    /* 23.31px */
    letter-spacing: 0.56px;
}

@media (max-width:767px) {
    
.testimonials-texts h2 {
    color: #FFF;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 109.5%;
    /* 60.225px */
    letter-spacing: 2.2px;
    text-transform: uppercase;
}



    
}



















/* footer section */
.footer-main {
    width: 100%;
    background-image: url('../src/footer.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: #000;
    color: white;
}

.footer-first {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-left {
    width: 50%;
    height: 600px;
    justify-content: center;
    align-items: center;
}

.footer-center-get {
    width: 60%;
    margin: auto;
    /* border: 1px solid darkblue; */
}

.footer-contain-text {
    width: 100%;
    position: relative;
    top: 50px;
    /* border: 1px solid wheat; */
}

.footer-contain-text h2 {
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.footer-contain-text .footer1 {
    width: 6.09375rem;
    border: 2px solid #6d95fc;
    margin: 1rem 0px;
}

.footer-contain-text .fpara {
    font-size: 1.313rem;
    font-style: normal;
    font-weight: 300;
    line-height: 166.5%;
    /* 34.965px */
    letter-spacing: 0.84px;
    margin: 1rem 0px;
}

.address {
    display: flex;
    width: 25rem;
    padding: 5px;
}


.address2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 20px;
}


.address2-content .head {
    color: #FFF;
    font-size: 1.313rem;
    font-style: normal;
    font-weight: 700;
    line-height: 166.5%;
    /* 34.965px */
    letter-spacing: 0.84px;

}

.footer-right {
    width: 50%;
    background: linear-gradient(223.47deg, rgba(109, 149, 252, 0.24) 3.19%, rgba(21, 21, 21, 0) 61.55%);
    height: 600px;
    /* background-color: black; */
    /* border:1px solid violet; */
}

.footer-center-contact {
    width: 60%;
    margin: auto;
}

.footer-contain-contact {
    width: 100%;
    position: relative;
    top: 50px;
    border-radius: 30px;
    background: linear-gradient(223.47deg, rgba(109, 149, 252, 0.24) 3.19%, rgba(21, 21, 21, 0) 61.55%);

}

.footer-contain-contact form {
    padding: 47px 56px 0px 56px;
}

form input {
    height: 47px;
    width: 26.625rem;
    border: 2px solid white;
    background-color: transparent;
}

form textarea {
    height: 168px;
    width: 26.625rem;
    background-color: transparent;
    border: 2px solid white;

}

.form-label {
    font-size: 17px;
}

form button {
    display: flex;
    width: 188px;
    height: 43.647px;
    padding: 10px 25px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: black;
    background-color: #6D95FC;
    margin: auto;
}


@media (max-width:1635px) {
    .footer-contain-text {
        width: 100%;
        position: relative;
        top: 50px;
        /* border: 1px solid wheat; */
    }

    .footer-contain-text h2 {
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
        /* text-transform: capitalize; */
    }

    .footer-contain-text .footer1 {
        width: 4.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid white;

    }

    .footer-contain-text .fpara {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;
    }



}

@media (max-width:1200px) {


    .footer-contain-text {
        width: 100%;
        position: relative;
        top: 50px;
        /* border: 1px solid wheat; */
    }


    .footer-contain-text h2 {
        font-size: 2rem;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
    }

    .footer-contain-text .footer1 {
        width: 5.09375rem;
        /* color: #6D95FC; */
        margin: 1.62rem 0px;
        border: 1px solid #6d95fc;

    }

    .footer-contain-text .fpara {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        margin: 2rem 0px;

    }




}

@media (max-width:767px) {


    .footer-first {
        display: block;
    }

    .footer-left {
        width: 100%;
    }

    .footer-right {
        width: 100%;
    }

    .footer-center-get {
        width: 90%;
        margin: auto;
        /* border: 1px solid darkblue; */
    }

    .footer-contain-text {
        width: 100%;
        position: relative;
        top: 50px;
        /* border: 1px solid wheat; */
    }

    .footer-contain-text h2 {
        font-size: 2.5rem;
        width: 100%;
        font-style: normal;
        font-weight: 700;
        line-height: 124.5%;
        /* 3.735rem */
    }


    .footer-contain-text .fpara {
        width: 100%;
        font-size: 1rem;
        font-style: normal;
        font-weight: 300;
        line-height: 166.5%;
        /* 2.18531rem */
        letter-spacing: 0.0525rem;
        padding: 1.62rem 0px;
    }


    .footer-center-contact {
        width: 90%;
    }
}



.footer-bottom h1 {
    font-size: 55px;
    font-weight: 700;
    text-align: center;
    /* text-transform: lowercase; */
}

.footer-bottom .complexity {
    font-size: 0.875rem;
}

.footer-bottom .line2 {
    width: 100px;
    border: 1px solid white;
    margin: auto;
}

.footer-bottom .footer-para {
    font-size: 1.313rem;
    font-weight: 300;
    margin: auto;
}

.footerlist li {
    font-size: 1.313rem;
    font-weight: 500;
    color: #6d95fc;
    padding: 32px 0px 0px 20px;
}

.footerlist li a i {
    /* margin-top: 93px; */
    color: #6d95fc;
}

.footer-content {
    font-family: 'Poppins';
    color: #fff;
    font-size: 0.875rem;
    padding-top: 8rem;
    padding-left: 3.125rem;
    font-weight: 300;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0px;

}


@media (max-width:767px) {
    .footer-bottom h1 {
        font-size: 55px !important;
        font-weight: 700;
        text-align: center;
    }

    .footer-bottom .complexity {
        font-size: 0.875rem;
    }

    .footer-bottom .line2 {
        width: 100px;
        border: 1px solid white;
        margin: auto;
    }

    .footer-bottom .footer-para {
        font-size: 1rem;
        font-weight: 300;
        margin: auto;
    }

    .footerlist li {
        font-size: 1rem !important;
        font-weight: 500;
        color: #6d95fc;
        padding: 32px 0px 0px 20px;
    }

    .footerlist li a i {
        /* margin-top: 93px; */
        color: #6d95fc;
    }

    .footer-content {
        font-family: 'Poppins';
        color: #fff;
        font-size: 0.875rem;
        padding-top: 4rem !important;
        padding-left: 3.125rem;
        font-weight: 300;
        letter-spacing: 0em;
        text-align: center;
    }

}