*{
    margin:0;
    padding: 0;
    color: white;
    font-family:'Poppins';
}
body{
    max-width: 1920px;
    width:100%;
}
.hero-section{
    height: 55.75rem;
    background-color: black;
    background-image: url('../src/hero.png');
    background-size:100% 100%;
    font-size: 23px;
}
.hero-content{
    height: 38.313rem;
    width: 51.188rem; 
    padding:185px 0px 0px 271px;
    text-transform: uppercase;
}
.hero-content h1{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 0.04em;
}

@media only screen and (max-width: 600px) {}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (max-width: 992px) {}

@media only screen and (max-width: 1200px) {
    .hero-content {
        padding-top: 1rem;
        /* padding-top: 24.342105263157894vh; */
    }

    
}